<div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown p-0 w-100 w-lg-900px w-xxl-950px">
	<!--begin:Dashboards menu-->
	<div class="menu-active-bg pt-1 pb-3 px-3 py-lg-6 px-lg-6" data-kt-menu-dismiss="true">
		<!--begin:Row-->
		<div class="row">
			<!--begin:Col-->
			<div class="col-lg-7">
				<!--begin:Row-->
				<div class="row">
					<!--begin:Col-->
					<div class="col-lg-4 mb-3">
						<!--begin:Heading-->
						<h4 class="fs-6 fs-lg-4 text-gray-800 fw-bold mt-3 mb-3 ms-4">Layouts</h4>
						<!--end:Heading-->
						<!--begin:Menu item-->
						<div class="menu-item p-0 m-0">
							<!--begin:Menu link-->
							<a href="layouts/light-sidebar.html" class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
								</span>
								<span class="menu-title">Light Sidebar</span>
							</a>
							<!--end:Menu link-->
						</div>
						<!--end:Menu item-->
						<!--begin:Menu item-->
						<div class="menu-item p-0 m-0">
							<!--begin:Menu link-->
							<a href="layouts/dark-sidebar.html" class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
								</span>
								<span class="menu-title">Dark Sidebar</span>
							</a>
							<!--end:Menu link-->
						</div>
						<!--end:Menu item-->
						<!--begin:Menu item-->
						<div class="menu-item p-0 m-0">
							<!--begin:Menu link-->
							<a href="layouts/light-header.html" class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
								</span>
								<span class="menu-title">Light Header</span>
							</a>
							<!--end:Menu link-->
						</div>
						<!--end:Menu item-->
						<!--begin:Menu item-->
						<div class="menu-item p-0 m-0">
							<!--begin:Menu link-->
							<a href="layouts/dark-header.html" class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
								</span>
								<span class="menu-title">Dark Header</span>
							</a>
							<!--end:Menu link-->
						</div>
						<!--end:Menu item-->
					</div>
					<!--end:Col-->
					<!--begin:Col-->
					<div class="col-lg-4 mb-3">
						<!--begin:Heading-->
						<h4 class="fs-6 fs-lg-4 text-gray-800 fw-bold mt-3 mb-3 ms-4">Toolbars</h4>
						<!--end:Heading-->
						<!--begin:Menu item-->
						<div class="menu-item p-0 m-0">
							<!--begin:Menu link-->
							<a href="toolbars/classic.html" class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
								</span>
								<span class="menu-title">Classic</span>
							</a>
							<!--end:Menu link-->
						</div>
						<!--end:Menu item-->
						<!--begin:Menu item-->
						<div class="menu-item p-0 m-0">
							<!--begin:Menu link-->
							<a href="toolbars/saas.html" class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
								</span>
								<span class="menu-title">SaaS</span>
							</a>
							<!--end:Menu link-->
						</div>
						<!--end:Menu item-->
						<!--begin:Menu item-->
						<div class="menu-item p-0 m-0">
							<!--begin:Menu link-->
							<a href="toolbars/accounting.html" class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
								</span>
								<span class="menu-title">Accounting</span>
							</a>
							<!--end:Menu link-->
						</div>
						<!--end:Menu item-->
						<!--begin:Menu item-->
						<div class="menu-item p-0 m-0">
							<!--begin:Menu link-->
							<a href="toolbars/extended.html" class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
								</span>
								<span class="menu-title">Extended</span>
							</a>
							<!--end:Menu link-->
						</div>
						<!--end:Menu item-->
						<!--begin:Menu item-->
						<div class="menu-item p-0 m-0">
							<!--begin:Menu link-->
							<a href="toolbars/reports.html" class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
								</span>
								<span class="menu-title">Reports</span>
							</a>
							<!--end:Menu link-->
						</div>
						<!--end:Menu item-->
					</div>
					<!--end:Col-->
					<!--begin:Col-->
					<div class="col-lg-4 mb-3">
						<!--begin:Heading-->
						<h4 class="fs-6 fs-lg-4 text-gray-800 fw-bold mt-3 mb-3 ms-4">Asides</h4>
						<!--end:Heading-->
						<!--begin:Menu item-->
						<div class="menu-item p-0 m-0">
							<!--begin:Menu link-->
							<a href="asides/aside-1.html" class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
								</span>
								<span class="menu-title">Filters</span>
							</a>
							<!--end:Menu link-->
						</div>
						<!--end:Menu item-->
						<!--begin:Menu item-->
						<div class="menu-item p-0 m-0">
							<!--begin:Menu link-->
							<a href="asides/aside-2.html" class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
								</span>
								<span class="menu-title">Segments</span>
							</a>
							<!--end:Menu link-->
						</div>
						<!--end:Menu item-->
						<!--begin:Menu item-->
						<div class="menu-item p-0 m-0">
							<!--begin:Menu link-->
							<a href="asides/aside-3.html" class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
								</span>
								<span class="menu-title">Shipment History</span>
							</a>
							<!--end:Menu link-->
						</div>
						<!--end:Menu item-->
						<!--begin:Menu item-->
						<div class="menu-item p-0 m-0">
							<!--begin:Menu link-->
							<a href="asides/aside-4.html" class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
								</span>
								<span class="menu-title">Courier Activity</span>
							</a>
							<!--end:Menu link-->
						</div>
						<!--end:Menu item-->
						<!--begin:Menu item-->
						<div class="menu-item p-0 m-0">
							<!--begin:Menu link-->
							<a href="asides/aside-5.html" class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
								</span>
								<span class="menu-title">Calendar</span>
							</a>
							<!--end:Menu link-->
						</div>
						<!--end:Menu item-->
					</div>
					<!--end:Col-->
				</div>
				<!--end:Row-->
				<div class="separator separator-dashed mx-lg-5 mt-2 mb-6"></div>
				<!--begin:Layout Builder-->
				<div class="d-flex flex-stack flex-wrap flex-lg-nowrap gap-2 mb-5 mb-lg-0 mx-lg-5">
					<div class="d-flex flex-column me-5">
						<div class="fs-6 fw-bold text-gray-800">Layout Builder</div>
						<div class="fs-7 fw-semibold text-muted">Customize, preview and export</div>
					</div>
					<a href="https://preview.keenthemes.com/metronic8/demo1/layout-builder.html" class="btn btn-sm btn-primary fw-bold">Try Builder</a>
				</div>
				<!--end:Layout Builder-->
			</div>
			<!--end:Col-->
			<!--begin:Col-->
			<div class="col-lg-5 mb-3 py-lg-3 pe-lg-8 d-flex align-items-center">
				<img src="~/assets/media/stock/900x600/45.jpg" class="rounded mw-100" alt="" />
			</div>
			<!--end:Col-->
		</div>
		<!--end:Row-->
	</div>
	<!--end:Dashboards menu-->
</div>