<div class="menu-item px-3">
	<div class="menu-content d-flex align-items-center px-3">
		<!--begin::Avatar-->
		<div class="symbol symbol-50px me-5">
			<img alt="Logo" src="assets/media/avatars/300-3.jpg" />
		</div>
		<!--end::Avatar-->
		<!--begin::Username-->
		<div class="d-flex flex-column">
			<div class="fw-bold d-flex align-items-center fs-5">
				Robert Fox
				<span class="badge badge-light-success fw-bold fs-8 px-2 py-1 ms-2">Pro</span>
			</div>
			<a href="#" class="fw-semibold text-muted text-hover-primary fs-7">robert@kt.com</a>
		</div>
		<!--end::Username-->
	</div>
</div>